---
import { getEntryBySlug } from "astro:content";

import BlogPost from "../../layouts/BlogPost.astro";

// Get slug from params
const { slug } = Astro.params;

// Get entry by slug and render the HTML
const entry = await getEntryBySlug("blog", slug);
const { Content } = await entry.render();
---

<BlogPost {...entry.data}>
  <h1>{entry.data.title}</h1>
  <Content />
</BlogPost>
